*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.subtitulo{
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */
header{
    width: 100%;
    height: 500px;
    background: #c96c26;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,hsla(26, 68%, 47%, 0.50), hsla(32, 92%, 59%, 0.50), hsla(43, 63%, 81%, 0.50));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,hsla(26, 68%, 47%, 0.50), hsla(32, 92%, 59%, 0.50), hsla(43, 63%, 81%, 0.50)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position:relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
    font-size: 20px;
}

nav > a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
}

header .test{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
}

header .textos-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
}

.textos-header h1{
    font-size: 50px;
    color: #000;
    margin: 0;
}
.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color: #000;
    margin: 0;
}

header .test img{
    max-height: 100%;
    max-width: 100%;
}

/* Acerca de Monarca */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    display:flex;
    justify-content: space-evenly;
}

.imagen-acerca-de{
    max-width: 50%;
    height: auto;
    object-fit: cover;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #000;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0,.5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Portafolio */

.portafolio{
    background: #eddcb1;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0,.5);
}

.imagen-port >img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(32, 92%, 59%, 0.50);
    transition: transform -5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:#000;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Equipo */

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cards .card{
    background: #231e1a;
    display: flex;
    flex-direction: column;
    width: 16%;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0,.5);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #eddcb1;
    border-radius: 50%;
    margin-bottom: 10px;
}

.cards .card .text-card{
    width: 100%;
    color: #eddcb1;
}

.cards .card .text-card h4,
.cards .card .text-card p{
    margin: 0;
    padding: 5px 0;
}

/* Servicios */

.servicios{
    background: #eddcb1;
    padding-bottom: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind ul{
    padding-left: 20px;
    text-align: left;
}

.servicio-ind p {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    padding: 10px;
    background-color: #c96c26; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-weight: bold !important; /* Texto en negritas */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-top: 15px; /* Espacio adicional en la parte superior */
    width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para darle un efecto de botón */
}


.servicio-ind p:hover {
    background-color: #a6551f; /* Color de fondo más oscuro al pasar el mouse */
}


.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* Footer */

footer{
    background: #231e1a;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #857b7c;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #c96c26;
    border-bottom: 3px solid #857b7c;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #c96c26;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #c96c26;
}

@media screen and (max-width:900px){
    header {
        height: auto; /* Deja que la altura del header se adapte al contenido */
        padding: 20px;
    }

    nav {
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 10px;
        font-size: 18px;
    }

    .test {
        flex-direction: column;
        text-align: center;
    }

    .textos-header h1 {
        font-size: 40px;
    }

    .textos-header h2 {
        font-size: 25px;
    }

    .test img {
        max-width: 80%;
        margin-top: 20px;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre-nosotros .contenido-textos{
        padding-top: 25px;
        width: 90%;
    }
    .imagen-acerca-de{
        max-width: 100%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Equipo */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
        margin-bottom: 30px;
    }

    /* Servicios */
    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1),.servicio-ind:nth-child(2){
        margin-bottom: 30px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        top: 50px;
        right: 20px;
        padding: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li a {
        color: black;
    }

    nav {
        flex-direction: column;
        text-align: left;
        padding: 10px 0;
    }

    nav a {
        margin: 5px 0;
        font-size: 16px;
    }

    .textos-header h1 {
        font-size: 30px;
    }

    .textos-header h2 {
        font-size: 18px;
    }

    .test img {
        width: 100%;
        margin-top: 15px;
    }

    /* Acerca de monarca */

    .imagen-acerca-de{
        margin-bottom: 60px;
        width: 90%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* GALERIA */

    .imagen-port{
        width: 95%;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #c96c26;
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}